<div class="g-container clearfix">
    <div class="left g-aside" >
        <ul class="g-aside-nav">


            <!--<li class="selected"><a href="#" >系统管理</a></li>-->
               <!-- <li class="sub"><a href="/adminlisex/">权限组管理</a></li> -->
                <!--<li class="sub"><a href="/permission/">权限列表管理</a></li>-->
                <!--<li class="sub"><a href="/dininglist">管理账户列表</a></li>-->


            <li class="selected"><a href="#">博客管理</a></li>
                <!-- <li class="sub"><a href="/tongjijine">统计金额</a></li>-->
                <li class="sub"><a href="/admin/blog/">添加博客</a></li>
            <li class="sub"><a href="/admin/blog/?ajax=list">博客列表</a></li>



         </ul>

        <ul class="g-aside-nav">
            <!---  <li class="selected"><a href="#">测试模块</a></li>-->
            <!--   <li class="sub"><a href="#">-----</a></li>-->
            <!--<div id="test"></div>-->
        </ul>

                </div>





