<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/admin/style/global.css" />
    <link rel="stylesheet" type="text/css" href="/admin/style/product.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="/admin/js/jQuery.md5.js"></script>
    <script src="/admin/js/jquery.cookie.js"></script>
    <!--<script src="/js/common.js"></script>-->
    <script type="text/javascript" src="/admin/fancybox/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/admin/fancybox/jquery.fancybox.css" media="screen"/>
    <script type="text/javascript" src="/admin/js/pageCommon.js"></script>


    <script type="text/javascript" src="/admin/js/pageCommon.js"></script>

</head>

<body>
<div class="g-header clearfix">
    <a href="#2" class="left logo" title="首页"></a>

    <ul class="left g-nav">

    </ul>
    <div class="right g-header-user">
        <em id="username"></em>
        <i>|</i>
        <em id="username"><a onclick="return editpassword() ">修改密码</a></em>
        <i>|</i>
        <a href="/loginout">退出</a>
    </div>

</div>