### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)
/logs
Debug/
Release/
logs/
obj/
/db/
.idea/
.idea/
/node_modules/
.DS_Store
/test/
/public/blog/
tingyun_agent.log